<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net451" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net451" />
  <package id="Ninject.Extensions.Logging" version="3.2.0.0" targetFramework="net451" />
  <package id="Ninject.Extensions.Logging.Log4net" version="3.2.0.0" targetFramework="net451" />
  <package id="Selenium.Support" version="2.39.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.39.0" targetFramework="net451" />
  <package id="StyleCop" version="4.7.44.0" targetFramework="net451" />
  <package id="StyleCop.MSBuild" version="4.7.48.0" targetFramework="net451" />
  <package id="TestPipe.Core" version="1.0.0" targetFramework="net451" />
  <package id="TestPipe.Plugins.Selenium" version="1.0.1" targetFramework="net451" />
  <package id="TestPipe.Runner" version="1.0.0" targetFramework="net451" />
</packages>